<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>



  <a class="nav-link" href="/analytics" target="_self" rel="noopener noreferrer">OVERALL</a>

  <a class="nav-link" href="/ae" target="_self" rel="noopener noreferrer">AE</a>
  <a class="nav-link" href="/bsbe" target="_self" rel="noopener noreferrer">BSBE</a>
  <a class="nav-link" href="/ce" target="_self" rel="noopener noreferrer">CE</a>
  <a class="nav-link" href="/celp" target="_self" rel="noopener noreferrer">CELP</a>
  <a class="nav-link" href="/che" target="_self" rel="noopener noreferrer">CHE</a>
  <a class="nav-link" href="/chm" target="_self" rel="noopener noreferrer">CHM</a>
  <a class="nav-link" href="/cseanalytics" target="_self" rel="noopener noreferrer">CSE</a>

  <a class="nav-link" href="/des" target="_self" rel="noopener noreferrer">DES</a>
  <a class="nav-link" href="/dp" target="_self" rel="noopener noreferrer">DP</a>
  <a class="nav-link" href="/eco" target="_self" rel="noopener noreferrer">ECO</a>
  <a class="nav-link" href="/ee" target="_self" rel="noopener noreferrer">EE</a>
  <a class="nav-link" href="/eem" target="_self" rel="noopener noreferrer">EEM</a>
  <a class="nav-link" href="/eemp" target="_self" rel="noopener noreferrer">EEMP</a>
  <a class="nav-link" href="/es" target="_self" rel="noopener noreferrer">ES</a>
  <a class="nav-link" href="/hss" target="_self" rel="noopener noreferrer">HSS</a>
  <a class="nav-link" href="/ime" target="_self" rel="noopener noreferrer">IME</a>
  <a class="nav-link" href="/lt" target="_self" rel="noopener noreferrer">LT</a>
  <a class="nav-link" href="/ltp" target="_self" rel="noopener noreferrer">LTP</a>
  <a class="nav-link" href="/math" target="_self" rel="noopener noreferrer">MATH & STATS</a>
  <a class="nav-link" href="/me" target="_self" rel="noopener noreferrer">ME</a>
  <a class="nav-link" href="/mme" target="_self" rel="noopener noreferrer">MME</a>
  <a class="nav-link" href="/mse" target="_self" rel="noopener noreferrer">MSE</a>
  <a class="nav-link" href="/msp" target="_self" rel="noopener noreferrer">MSP</a>
  <a class="nav-link" href="/net" target="_self" rel="noopener noreferrer">NET</a>
  <a class="nav-link" href="/netp" target="_self" rel="noopener noreferrer">NETP</a>
  <a class="nav-link" href="/phy" target="_self" rel="noopener noreferrer">PHY</a>





</body>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>